.add-route-form{
    display:inline-block;
}

.form-input{
    display: grid;
    margin: 20px 0px;
}

.submit-button{
    width:400px;
}

.submit-button-container{
    display:flex;
    justify-content:center;
    margin-top:30px;
}