.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 3rem;
      margin-top: 1rem;
  
      .option {
        padding: 10px 15px;
      }
    }
  }
  
  /*    margin-bottom: 15px;
    padding-bottom: 45px;
    border-bottom: 1.5px solid black; */